<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>MICRO FRONTENDS - SINGLE SPA</title>
  <meta name="importmap-type" content="systemjs-importmap" />
  <!--
  <script type="systemjs-importmap"
    src="https://host.com.br/epson.microfrontends.app/importmap.json"
  >
  </script>
  -->
  <% if (IS_LOCAL) { %>
  <script type="systemjs-importmap">
    {
      "imports": {
        "react": "https://cdn.jsdelivr.net/npm/react@16.13.0/umd/react.production.min.js",
        "react-dom": "https://cdn.jsdelivr.net/npm/react-dom@16.13.0/umd/react-dom.production.min.js",

        "single-spa": "https://cdn.jsdelivr.net/npm/single-spa@5.5.3/lib/system/single-spa.min.js",


        "@myf/root-config": "//localhost:3000/myf-root-config.js",

        "@myf/styleguide": "//localhost:3001/myf-styleguide.js",

        "@myf/spa": "//localhost:4000/myf-spa.js",
        "@myf/app1": "//localhost:4001/myf-app1.js",
        "@myf/app2": "//localhost:4002/myf-app2.js",


        "rxjs": "https://cdn.jsdelivr.net/npm/@esm-bundle/rxjs/system/rxjs.min.js",
        "rxjs/operators": "https://cdn.jsdelivr.net/npm/@esm-bundle/rxjs/system/rxjs-operators.min.js"
      }
    }
  </script>
  <% } %>

  <script src="https://cdn.jsdelivr.net/npm/import-map-overrides/dist/import-map-overrides.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/systemjs@6.3.1/dist/system.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/systemjs/dist/extras/amd.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/systemjs/dist/extras/named-exports.min.js"></script>

  <template id="single-spa-layout">
    <single-spa-router>
      <div>
        <application name="@myf/spa"></application>
        <div>
          <route default>
            <application name="@myf/app1"></application>
          </route>
          <route path="app2">
            <application name="@myf/app2"></application>
          </route>
        </div>
      </nav>
    </single-spa-router>
  </template>
</head>
<body>
  <script>
    System.import('@myf/root-config');
    System.import('@myf/styleguide');
  </script>
  <import-map-overrides-full show-when-local-storage="devtools" dev-libs></import-map-overrides-full>
</body>
</html>
